/*text1*/
#text1{
    margin: 30px 0;
    overflow: hidden;
    color: #ffffff;
    background-color: black;
}
/*owl carousel*/
.owl{
	margin: 50px 0;
	background-color: black;
}
.owl-s {
	padding: 50px 0;
}
.item {
	padding: 0 20px;
}
.item img {
	width: 100%;
}